<div class="modal-header">
  <h4 class="modal-title">Ajouter ou modifier les information d'un animal</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form name="form">
    <div class="form-group row">
      <label for="name" class="col-sm-2 col-form-label">Nom</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="name" name ="name" placeholder="Nom" [(ngModel)]="animal.name">
      </div>
    </div>

    <div class="form-group row">
      <label for="sexe" class="col-sm-2 col-form-label">Sexe</label>
      <div class="col-sm-10">
        <select class="form-control" id="sexe" name ="sexe" [(ngModel)]="animal.sexe">
          <option [ngValue]="'Male'" selected>Male</option>
          <option [ngValue]="'Femelle'">Femelle</option>
        </select>
      </div>
    </div>

    <div class="form-group row">
      <label for="destinctiveSign" class="col-sm-2 col-form-label">Signe distictif</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="destinctiveSign" name="destinctiveSign" placeholder="Signe distictif" [(ngModel)]="animal.destinctiveSign">
      </div>
    </div>

    <div class="form-group row">
      <label for="Date" class="col-sm-2 col-form-label">Date d'entrée</label>
      <div class="col-sm-10">
        <form class="form-inline">
          <div class="form-group">
            <div class="input-group">
              <input class="form-control" placeholder="yyyy-mm-dd"
                     name="dp" [(ngModel)]="dateIn" ngbDatepicker [dayTemplate]="customDay" [markDisabled]="isDisabled" #d="ngbDatepicker">
              <div class="input-group-append">
                <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"></button>
              </div>
            </div>
          </div>
        </form>
      </div>
      <ng-template #customDay let-date let-currentMonth="currentMonth" let-selected="selected" let-disabled="disabled" let-focused="focused">
  <span class="custom-day" [class.weekend]="isWeekend(date)" [class.focused]="focused"
        [class.bg-primary]="selected" [class.hidden]="date.month !== currentMonth" [class.text-muted]="disabled">
    {{ date.day }}
  </span>
      </ng-template>
    </div>


    <div class="form-group row">
      <label for="Date" class="col-sm-2 col-form-label">Date de sortie</label>
      <div class="col-sm-10">
        <form class="form-inline">
          <div class="form-group">
            <div class="input-group">
              <input class="form-control" placeholder="yyyy-mm-dd"
                     name="dp" [(ngModel)]="dateOut" ngbDatepicker [dayTemplate]="customDay" [markDisabled]="isDisabled1" #dd="ngbDatepicker">
              <div class="input-group-append">
                <button class="btn btn-outline-secondary calendar" (click)="dd.toggle()" type="button"></button>
              </div>
            </div>
          </div>
        </form>
      </div>
      <ng-template #customDay let-date let-currentMonth="currentMonth" let-selected="selected" let-disabled="disabled" let-focused="focused">
  <span class="custom-day" [class.weekend]="isWeekend1(date)" [class.focused]="focused"
        [class.bg-primary]="selected" [class.hidden]="date.month !== currentMonth" [class.text-muted]="disabled">
    {{ date.day }}
  </span>
      </ng-template>
    </div>

    <div class="form-group row">
      <label for="pool" class="col-sm-2 col-form-label">Bassin</label>
      <div class="col-sm-10">
        <select class="form-control" id="pool" [(ngModel)]="animal.pool" name="pool">
          <option [ngValue]="pool" *ngFor="let pool of listOfPool">{{pool.name}}</option>
        </select>
      </div>
    </div>

    <div class="form-group row">
      <label for="species" class="col-sm-2 col-form-label">Espèce</label>
      <div class="col-sm-10">
        <select class="form-control" id="species" [(ngModel)]="animal.species" name="species">
          <option [ngValue]="species" *ngFor="let species of listOfSpecies">{{species.name}}</option>
        </select>
      </div>
    </div>

    <div class="form-group row">
      <label for="description" class="col-sm-2 col-form-label">Image</label>
      <div class="col-sm-10">
        <input-file fileLimit="1" fileAccept="image/*" [(ngModel)]="fileUpload"
                    [ngModelOptions]="{standalone: true}"></input-file>
      </div>
    </div>

  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="save()">Sauvegarder</button>
  <button type="button" class="btn btn-outline-default" (click)="activeModal.close('Close click')">Annuler</button>
</div>
