<div class="card">
  <div class="card-body">
    <div class="row">
      <h3>Informations sur le pool</h3>
    </div>
    <hr>
    <div class="row">
      <div class="col-lg-4">
        <h5>Nom : </h5>
      </div>
      <div class="col-lg-8">
        <p>{{pool.name}}</p>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-4">
        <h5>Capacité : </h5>
      </div>
      <div class="col-lg-8">
        <p>{{pool.capacity}}</p>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-4">
        <h5>Volume : </h5>
      </div>
      <div class="col-lg-8">
        <p>{{pool.volume}}</p>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-4">
        <h5>Volume : </h5>
      </div>
      <div class="col-lg-8">
        <p>{{pool.responsible?.lastName}} {{pool.responsible?.firstName}}</p>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-4">
        <h5>Responsable : </h5>
      </div>
      <div class="col-lg-8">
        <p>{{pool.volume}}</p>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-4">
        <h5>Secteur : </h5>
      </div>
      <div class="col-lg-8">
        <ul class="list-group">
          <li class="list-group-item">
            <div class="row">
              <div class="col-lg-4">
                Nom :
              </div>
              <div class="col-lg-8">
                {{pool.sector?.name}}
              </div>
            </div>
          </li>
          <li class="list-group-item">
            <div class="row">
              <div class="col-lg-4">
                Localisation :
              </div>
              <div class="col-lg-8">
                {{pool.sector?.location}}
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <p></p>
    <div class="row">
      <div class="col-lg-4">
        <h5>Liste des personnels : </h5>
      </div>
      <div class="col-lg-8">
        <ul class="list-group" >
          <li class="list-group-item" *ngFor="let personal of pool.listOfPersonals">
            <div class="row">
              <div class="col-lg-8">
                {{personal.lastName}}  {{personal.firstName}}
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>

    <p></p>
    <div class="row">
      <div class="col-lg-4">
        <h5>Liste des activités : </h5>
      </div>
      <div class="col-lg-8">
        <ul class="list-group" >
          <li class="list-group-item" *ngFor="let activity of pool.listOfActivities">
            <div class="row">
              <div class="col-lg-8">
                {{activity.type}}  {{activity.activityDate}} {{activity.activityDate}} {{activity.isPublic}}
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
