<div class="card">
  <div class="card-body">
    <div class="row">
      <h3>Informations sur le Secteur</h3>
    </div>
    <hr>
    <div class="row">
      <div class="col-lg-4">
        <h5>Nom : </h5>
      </div>
      <div class="col-lg-8">
        <p>{{sector?.name}}</p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4">
        <h5>Location : </h5>
      </div>
      <div class="col-lg-8">
        <p>{{sector?.location}}</p>
      </div>
    </div>
  </div>
</div>
