

<div>
  <h3  class="center">Nos Activities </h3>
</div>
<div class="row">
  <div class="card col-lg-3 card-spacer" style="width: 18rem;" *ngFor="let activity of listOfActivity">
    <img class="card-img-top" src = "{{activity.picture}}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">{{activity?.type}}</h5>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Date : {{activity?.activityDate}}</li>
        <li *ngIf="activity.isPublic" class="list-group-item">Ouverte au publique : Oui</li>
        <li *ngIf="!activity.isPublic" class="list-group-item">Ouverte au publique : Non</li>

      </ul>
      <p>{{activity?.descriptionActivity}}</p>
    </div>



  </div>
</div>
