<div class="modal-header">
  <h4 class="modal-title">Hi there!</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form name="form">
    <div class="form-group row">
      <label for="name" class="col-sm-2 col-form-label">Nom</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="name" name ="name" placeholder="Nom" [(ngModel)]="pool.name">
      </div>
    </div>

    <div class="form-group row">
      <label for="capacity" class="col-sm-2 col-form-label">Capacité</label>
      <div class="col-sm-10">
        <input type="number" class="form-control" id="capacity" name="capacity" placeholder="Capacité" [(ngModel)]="pool.capacity">
      </div>
    </div>

    <div class="form-group row">
      <label for="volume" class="col-sm-2 col-form-label">Volume</label>
      <div class="col-sm-10">
        <input type="number" class="form-control" id="volume" name="volume" placeholder="Volume" [(ngModel)]="pool.volume">
      </div>
    </div>


    <div class="form-group row">
      <label for="state" class="col-sm-2 col-form-label">State</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="state" name="state" placeholder="state" [(ngModel)]="pool.state">
      </div>
    </div>

    <div class="form-group row">
      <label for="sector" class="col-sm-2 col-form-label">Secteur</label>
      <div class="col-sm-10">
        <select class="form-control" id="sector" [(ngModel)]="pool.sector" name="species">
          <option [ngValue]="sector" *ngFor="let sector of listOfSectors">{{sector.name}}</option>
        </select>
      </div>
    </div>

    <div class="form-group row">
      <label for="activities" class="col-sm-2 col-form-label">activités</label>
      <div class="col-sm-10">
        <select class="form-control" id="activities" [(ngModel)]="pool.listOfActivities" name="species">
          <option [ngValue]="activity" *ngFor="let activity of listOfActivities">{{activity.type}}</option>
        </select>
      </div>
    </div>

    <div class="form-group row">
      <label for="personals" class="col-sm-2 col-form-label">personnel</label>
      <div class="col-sm-10">
        <select class="form-control" id="personals" [(ngModel)]="pool.listOfPersonals" name="species">
          <option [ngValue]="personal" *ngFor="let personal of listOfPersonals">{{personal.firstName}}</option>
        </select>
      </div>
    </div>

  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="save()">Sauvegarder</button>
  <button type="button" class="btn btn-outline-default" (click)="activeModal.close('Close click')">Annuler</button>
</div>
