<div>
  <h1  class="center">{{pool.name}}</h1>
</div>
<br>
<br>
<div>
  <h3  class="center">Nos pensionnaires </h3>
</div>
<br>
<div class="row">
  <div class="card col-lg-4 card-spacer" style="width: 18rem;" *ngFor="let animal of listOfAnimal">
    <img class="card-img-top" src = "{{animal.picture}}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">{{animal?.name}}</h5>
      <br>
      <br>

      <p><i>Espèce : </i>       {{animal?.species.name}}
      <br><i>Sexe : </i>      {{animal?.sexe}}
      <br><i>Régime : </i>      {{animal?.species.diet}}
      <br><i>Espérance de vie : </i>      {{animal?.species.lifeExpectancy}}
      <br><i>L'espèce est-elle menacée ? :      </i> {{animal?.species.isThreat}}
      <br><i>degré de menace : </i>      {{animal?.species.threatLevel}} /5
      <br><i>Signe destinctif : </i>       {{animal?.destinctiveSign}}
      </p>
    </div>


  </div>
</div>

<br>
<br>

<div>
  <h3  class="center">Nos Activities </h3>
</div>
<br>
<div class="row">
  <div class="card col-lg-4 card-spacer" style="width: 18rem;" *ngFor="let activity of pool?.listOfActivities">
    <img class="card-img-top" src = "{{activity.picture}}" alt="Card image cap">

    <div class="card-body">
      <h5 class="card-title">{{activity?.type}}</h5>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Date : {{activity?.activityDate}}</li>
        <li *ngIf="activity.isPublic" class="list-group-item">Ouverte au publique : Oui</li>
        <li *ngIf="!activity.isPublic" class="list-group-item">Ouverte au publique : Non</li>

      </ul>
      <p>{{activity?.descriptionActivity}}</p>
    </div>
  </div>
</div>
