<nav class="navbar fixed-top navbar-expand-md navbar-dark bg-primary">
  <div class="container">
    <a class="navbar-brand">AQUARIUM DE PARIS</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation" (click)="toggleNavbar()">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse justify-content-stretch" id="navbar" [ngbCollapse]="isNavbarCollapsed">
      <ul class="navbar-nav ml-auto text-uppercase">
        <li class="nav-item active spacer" *ngFor="let link of navBarLinks">
          <a class="nav-link" [routerLink]="[link.path]" [routerLinkActive]="['is-active']">
            <i [class]="link.classIcon"></i>
            {{link.name}}
          </a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item spacer" *ngIf="!accountService.isAuthenticated()">
          <a class="nav-link pointer" [routerLink]="['/account/sign-in']">
            <i class="fa fa-user"></i>
            <span >Connexion</span>
          </a>
        </li>
        <li class="nav-item d-inline-block" ngbDropdown *ngIf="accountService.isAuthenticated()">
          <a class="nav-link pointer" id="dropdownMenu" ngbDropdownToggle placement="right">
            <i class="fa fa-user"></i>
            {{userName}}
          </a>
          <div class="dropdown-menu" ngbDropdownMenu aria-labelledby="dropdownMenu">
            <a class="dropdown-item pointer" (click)="logout()">
              <i class="fa fa-sign-in-alt"></i>
              Déconnexion
            </a>
          </div>
        </li>
      </ul>
    </div>
  </div>

</nav>
