<div>
  <h3  class="center">Nos pensionnaires </h3>
</div>
<div class="row">
  <div class="card col-lg-4 card-spacer" style="width: 18rem;" *ngFor="let animal of listOfAnimal">

    <img class="card-img-top" src = "{{animal.picture}}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">{{animal?.name}}</h5>

    </div>
    <tr>
      <td>Espèce : {{animal?.species.name}}</td>
    </tr>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <tr>
          <td>Régime : {{animal?.species.diet}}</td>
        </tr>
        <tr>
          <td>Espérance de vie : {{animal?.species.lifeExpectancy}}</td>
        </tr>
        <tr>
          <td>L'espèce est-elle menacée ? : {{animal?.species.isThreat}}</td>
        </tr>
        <tr>
          <td>Espèce : {{animal?.species.threatLevel}} /5</td>
        </tr>
      </li>
        </ul>


    <tr>
      <td>Sexe : {{animal?.sexe}}</td>
    </tr>
    <tr>
      <td>Signe destinctif : {{animal?.destinctiveSign}}</td>
    </tr>



  </div>
</div>
