<div>
  <h3  class="center">Nos secteurs </h3>
</div>
<div class="row">
    <div class="card col-lg-3 card-spacer" style="width: 18rem;" *ngFor="let sector of listOfSector">
      <img class="card-img-top" src= "{{sector.picture}}" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">{{sector?.name}}</h5>

        <a class="btn btn-primary" [routerLink]="['/aquarium/pools/', sector.id]" [routerLinkActive]="['is-active']">
          <i class="fa fa-plus"> </i> Détails
        </a>
      </div>
    </div>
</div>
