<header>
  <div class="overlay"></div>
  <video autoplay="autoplay" loop="loop" muted="muted" playsinline="playsinline">
    <source src="assets/video/aquarium.mp4" type="video/mp4">
  </video>
  <div class="container h-100">
    <div class="d-flex h-100 text-center align-items-center">
      <div class="w-100 text-white">
        <h1 class="display-3">Aquarium Paris</h1>
        <p class="lead mb-0">Plongez au coeur de l'océean</p>
      </div>
    </div>
  </div>
</header>



<mat-card class="mat-parent">
  <div class="row">
  <div class="card col-lg-6 card-spacer" style="width: 18rem;">
  <img alt="Card image cap" class="card-img-top" src = "{{listOfActivity[0]?.picture}}">
  <div class="card-body">
    <h3 class="card-title">{{listOfActivity[0]?.type}}</h3>
    <h6>Date : {{listOfActivity[0]?.activityDate}}
    <br>{{listOfActivity[0]?.descriptionActivity}}
    </h6>
  </div>
</div>

  <div class="card col-lg-6 card-spacer" style="width: 18rem;">
    <img alt="Card image cap" class="card-img-top" src = "{{listOfActivity[1]?.picture}}">
    <div class="card-body">
      <h3 class="card-title">{{listOfActivity[1]?.type}}</h3>
      <h6>Date : {{listOfActivity[1]?.activityDate}}
        <br>{{listOfActivity[1]?.descriptionActivity}}
      </h6>
    </div>
  </div>
  </div>
<div>
  <a class= "btn btn-block btn-light" [routerLink]="['/aquarium/activities/']" [routerLinkActive]="['is-active']">
    <i class="fa fa-angle-double-right"> </i> Voir toutes nos activités
  </a>
</div>
</mat-card>


<ngb-carousel *ngIf="listOfAnimals">
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img [src]="listOfAnimals[0]?.picture" alt="Random first slide" class="center">
    </div>
    <div class="carousel-caption">
      <h3></h3>
       <a  [routerLink]="['/aquarium/animals/']" [routerLinkActive]="['is-active']"><p>
        Voir plus de poissons
       </p> </a>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img [src]="listOfAnimals[6]?.picture" alt="Random second slide" class="center">
    </div>
    <div class="carousel-caption">
      <h3></h3>
      <a  [routerLink]="['/aquarium/animals/']" [routerLinkActive]="['is-active']"><p>
        Voir plus de poissons
      </p> </a>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img [src]="listOfAnimals[4]?.picture" alt="Random third slide" class="center">
    </div>
    <div class="carousel-caption">
      <h3></h3>
      <a  [routerLink]="['/aquarium/animals/']" [routerLinkActive]="['is-active']"><p>
        Voir plus de poissons
      </p> </a>
    </div>
  </ng-template>

</ngb-carousel>



<mat-card class="mat-parent">
  <div class="row">
    <div class="card col-lg-6 card-spacer" style="width: 18rem;">
      <img alt="Card image cap" class="card-img-top" src = "{{listOfSectors[0]?.picture}}">
      <div class="card-body">
        <h3 class="card-title">{{listOfSectors[0]?.name}}</h3>
      </div>
    </div>

    <div class="card col-lg-6 card-spacer" style="width: 18rem;">
      <img alt="Card image cap" class="card-img-top" src = "{{listOfSectors[1]?.picture}}">
      <div class="card-body">
        <h3 class="card-title">{{listOfSectors[1]?.name}}</h3>
      </div>
    </div>
  </div>
  <div>
    <a class= "btn btn-block btn-light" [routerLink]="['/aquarium/sectors/']" [routerLinkActive]="['is-active']">
      <i class="fa fa-angle-double-right"> </i> Voir tout nos secteurs
    </a>
  </div>
</mat-card>
