<div class="row">
  <h3>List des animaux</h3>
</div>
<br>
<div class="row float-right">
  <button class="btn btn-sm btn-success" (click)="openAnimalForm()">Ajouter</button>
</div>
<br><br>
<div class="row">
  <table class="table">
    <thead>
    <tr>
      <th *ngFor="let label of columnLabels" class="text-uppercase" scope="col">{{label}}</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let animal of listOfAnimals">
      <td scope="row">{{animal.id}}</td>
      <td>{{animal.name}}</td>
      <td>{{animal.sexe}}</td>
      <td>{{animal.destinctiveSign}}</td>
      <td>{{animal.checkinDate | date:'medium'}}</td>
      <td>{{animal.checkoutDate | date:'medium'}}</td>
      <td>
        <button class="btn btn-sm btn-primary" (click)="openAnimalForm(animal)">update</button>
        <button class="btn btn-sm btn-danger" (click)="deleteAnimal(animal)">delete</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
