<div class="modal-header">
  <h4 class="modal-title">Ajouter ou modifier les information d'un personnel</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form name="form">
    <div class="form-group row">
      <label for="prenom" class="col-sm-2 col-form-label">Prénom</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="prenom" name ="prenom" placeholder="Prénom" [(ngModel)]="personal.firstName">
      </div>
    </div>

    <div class="form-group row">
      <label for="nom" class="col-sm-2 col-form-label">Nom</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="nom" name ="nom" placeholder="nom" [(ngModel)]="personal.lastName">
      </div>
    </div>

    <div class="form-group row">
      <label for="nom" class="col-sm-2 col-form-label">Sexe</label>
      <div class="col-sm-10">
        <select class="form-control" id="nom" name ="Nom" [(ngModel)]="personal.sex">
          <option [ngValue]="'Man'" selected>Homme</option>
          <option [ngValue]="'Women'">Femme</option>
        </select>
      </div>
    </div>

    <div class="form-group row">
      <label for="adresse" class="col-sm-2 col-form-label">Adresse</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="adresse" name="adresse" placeholder="Adresse" [(ngModel)]="personal.address">
      </div>
    </div>

    <div class="form-group row">
      <label for="Date" class="col-sm-2 col-form-label">Date de naissance</label>
      <div class="col-sm-10">
        <form class="form-inline">
          <div class="form-group">
            <div class="input-group">
              <input class="form-control" placeholder="yyyy-mm-dd"
                     name="dp" [(ngModel)]="model" ngbDatepicker [dayTemplate]="customDay" [markDisabled]="isDisabled" #d="ngbDatepicker">
              <div class="input-group-append">
                <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"></button>
              </div>
            </div>
          </div>
        </form>
      </div>

      <ng-template #customDay let-date let-currentMonth="currentMonth" let-selected="selected" let-disabled="disabled" let-focused="focused">
  <span class="custom-day" [class.weekend]="isWeekend(date)" [class.focused]="focused"
        [class.bg-primary]="selected" [class.hidden]="date.month !== currentMonth" [class.text-muted]="disabled">
    {{ date.day }}
  </span>
      </ng-template>
    </div>

    <div class="form-group row">
      <label for="nss" class="col-sm-2 col-form-label">N° de Sécurité Sociale</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="nss" name="nss" placeholder="dd/MM/yyyy" [(ngModel)]="personal.socialSecurityNumber">
      </div>
    </div>

    <div class="form-group row">
      <label for="email" class="col-sm-2 col-form-label">Email</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="email" name ="email" placeholder="ex : test@gmail.com" [(ngModel)]="personal.email">
      </div>
    </div>

    <div class="form-group row">
      <label for="password" class="col-sm-2 col-form-label">Mot de passe</label>
      <div class="col-sm-10">
        <input type="password" class="form-control" id="password" name ="password" placeholder="Mot de passe" [(ngModel)]="personal.password">
      </div>
    </div>

    <div class="form-group row">
      <label class="col-sm-2 col-form-label">Roles</label>

      <div  class="col-sm-10">
        <div *ngIf="personal.listOfRoles">
          <ul *ngIf="personal.listOfRoles && personal.listOfRoles.length > 0" class="list-group" >
            <li class="list-group-item" *ngFor="let role of personal.listOfRoles">
              <div class="row">
                <div class="col-lg-8">
                  {{role.roleName}}
                </div>
                <div class="col-lg-4">
                    <span class="action-icon text-danger float-right" (click)="deleteRole(role)" title="Supprimer">
                    <i class="fa fa-trash-alt"></i>
                  </span>
                </div>
              </div>
            </li>
          </ul>
        </div>
        <div *ngIf="!activeRole || personal.listOfRoles || listOfRole.length > 0"  class="col-lg-12">
                    <span class="action-icon text-primary float-right" (click)="activeSelectRole()" title="activer">
                    <i class="fas fa-plus-circle"></i>
                  </span>
        </div>

        <select *ngIf="activeRole &&  listOfRole && listOfRole.length > 0" class="form-control" id="roles" [(ngModel)]="roleToAdd" name="role">
          <option [ngValue]="role" *ngFor="let role of listOfRole">{{role.roleName}}
          </option>
        </select>

        <div  *ngIf="activeRole && listOfRole && listOfRole.length > 0" class="col-lg-12">
                    <span class="action-icon text-secondary float-right" (click)="addRole()" title="ajouter">
                    <i class="fas fa-plus-circle"></i>
                  </span>
        </div>

      </div>

    </div>

  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="save()">Sauvegarder</button>
  <button type="button" class="btn btn-outline-default" (click)="activeModal.close('Close click')">Annuler</button>
</div>
