<div class="row">
  <h3>List des pools</h3>
</div>
<br>
<div class="row float-right">
  <button class="btn btn-sm btn-success" (click)="openPoolForm()">
    <i class="fa fa-plus"></i>
    Ajouter
  </button>
</div>
<br><br>
<div class="row">
  <table class="table">
    <thead>
    <tr>
      <th scope="col" *ngFor="let label of columnLabels" class="text-uppercase">{{label}}</th>
      <th scope="col">Action</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let pool of listOfPools">
      <td scope="row">{{pool.id}}</td>
      <td>{{pool.name}}</td>
      <td>{{pool.capacity}}</td>
      <td>{{pool.state}}</td>
      <td>{{pool.volume}}</td>
      <td>
                  <span class="action-icon text-info" (click)="navigateToDetails(pool)" title="Détails">
                    <i class="fa fa-eye"></i>
                  </span>
        <span class="action-icon text-primary" (click)="openPoolForm(pool)" title="Mettre à jour">
                    <i class="fa fa-edit"></i>
                  </span>
        <span class="action-icon text-danger" (click)="deletePool(pool)" title="Supprimer">
                    <i class="fas fa-trash-alt"></i>
                  </span>
      </td>
    </tr>
    </tbody>
  </table>
</div>
